@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans';
  overflow: hidden;

  padding: 0px;
  margin: 0px;

  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background-repeat: no-repeat;
  background-attachment: fixed;

  /** CSS Variables */
  --player-width: max(10%, 200px);
  --player-height: 110px;

  --player-horizontal-gap: 1%;
  --player-vertical-gap: 15px;

  --color-mesa: #004814;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}

.top-players,
.bottom-players {
  display: flex;
  justify-content: center;
}

.player {
  background: dodgerblue;

  border-radius: 8px;
  text-align: center;

  width: var(--player-width);
  height: var(--player-height);
  margin: var(--player-vertical-gap) var(--player-horizontal-gap);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mesa-container {
  display: flex;
  justify-content: center;
}
.mesa {
  position: relative;
  background-color: var(--color-mesa);
  height: var(--player-height);
  border-radius: 10px;
  border: 1px solid green;
  width: calc(3 * var(--player-width) + 6 * var(--player-horizontal-gap));
  padding: 5px 10px;
}

/** Images */
#img-mesa {
  height: var(--player-height);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#img-ruleta {
  position: absolute;
  right: -40px;
  height: var(--player-height);

  border-radius: 20%;
}

.text-center {
  text-align: center;
}

.balance {
  background-color: black;
  color: white;
  font-size: x-large;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: #13131a;
}

.final-section {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.final-section > div {
  margin: 0 30px;
}

.final-box {
  display: table-cell;
  vertical-align: middle;

  min-width: 200px;
  height: 200px;
  color: white;

  font-size: 100px;
  background-color: var(--color-mesa);
  text-align: center;
}

#number {
  border: 2px solid white;
}
#casino-money {
  border: 2px solid green;
  background-color: var(--color-mesa);
}

#casino-money::before {
  content: '$';
  color: greenyellow;
}

.bet {
  opacity: 0;
  height: 0px;
  font-weight: bold;
  color: black;
}

.volume-container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#volume-icon {
  cursor: pointer;
  font-size: 30px;
  color: white;
}
